.btn {
    line-height: 1.499;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0;
    font-size: 14px;
    border-radius: 4px;
    height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.015);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.015);
    color: #40a9ff;
    background-color: #fff;
}

.btn:hover,
.btn:focus {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff00;
}

.btn:active,
.btn.active {
    color: #096dd900;
    background-color: #fff;
    border-color: #096dd900;
}

.ant-popover-inner-content {
    padding: 5px 8px;
    color: rgba(0, 0, 0, 0.65);
}

.ant-drawer-header {
    padding: 16px 3px;
    border-bottom: 2px solid #00000040;
}

.ant-list-item.ant-list-item {
    padding: 0;
}

.ant-divider-horizontal {
    margin: 14px 0 0;
}